* {
    font-family: 'Lobster';
}
#my_menu {
    background-color: #5f5f5f;
}

#my_menu p{
    float: left;
}

#my_menu ul{
    float: right;
}

#my_menu ul li{
    display: inline;
}

.my_content {
    margin: auto;
    width: 50%;
}

a {
    outline: none;
    text-decoration: none;
}