#my_menu {
}

#my_menu p{
    float: left;
}

#my_menu ul{
    float: right;
}

#my_menu ul li{
    display: inline;
}

ul li a{
    outline: none;
}

a {
    color: lawngreen;
    outline: none;
    text-decoration: none;
}