<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <meta charset="UTF-8">
    <title>Found</title>
</head>
<body>
    {% include 'fast_polls/my_menu.html' %}
    {% if found_ids %}
        <ul>
            {% for question in questions %}
                {% if question.id in found_ids %}
                    <li><a href="/polls/{{ question.id }}">{{ question.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>