<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body>
        {% include 'fast_polls/my_menu.html' %}
        <div class="my_content">
            {% block main %}
            {% endblock %}
        </div>
    </body>
    <script src= {% static 'my_scripts.js' %} type="text/javascript"></script>
</html>